.contact {
	&__wrapper {
		background-color: var(--light-navy);
		padding: 50px;

		@media screen and (min-width: 768px){
			padding: 50px 100px;
		}
	}

	&__title {
		&::after, &::before {
			display: none;

			@media screen and (min-width: 768px) {
				display: block;
			}
		}
	}

	&__description {
		text-align: center;
	}

	.description {
		&__title {
			color: var(--green);
			margin-bottom: 20px;
		}

		&__socials {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
			margin-top: 10px;

			&::before{
				width: 100%;
				content: "Сети и мессенджеры:";

				@media screen and (min-width: 768px){
					width: max-content;
				}
			}

		}
	}
}
