.description {
	&__title {
		font-weight: 500;
		font-size: 22px;
		color: var(--lightest-slate);

		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__logo {
		height: 30px;
		width: 30px;
		margin-right: 5px;
		color: var(--lightest-slate);
	}

	&__experience {
		font-family: var(--font-mono);
		color: var(--green);
		margin-top: 10px;
	}

	&__content {
		margin-top: 25px;
	}

	&__item {
		padding-left: 30px;
		margin-bottom: 10px;
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;

		&::before {
			content: "▹";
			position: absolute;
			left: 0;
		}
	}

	&__count {
		color: var(--green);
		font-size: 12px;
		padding: 5px 10px;
		border: 1px solid var(--green);
		border-radius: 5px;
	}
}
