.hero {
	min-height: calc(100vh - 100px);

	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 50px 0;

	@media screen and (min-width: 576px) {
		padding: 100px 0;
	}

	&__wrapper {
		width: 100%;

		text-align: center;

		@media screen and (min-width: 768px) {
			text-align: left;
		}
	}

	&__subtitle {
		font-family: var(--font-mono);
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 30px;
		color: var(--green);
	}

	&__title {
		font-weight: 600;
		font-size: 35px;
		color: var(--lightest-slate);

		@media screen and (min-width: 768px) {
			font-size: 70px;
		}
	}

	&__pre-description {
		margin-top: 10px;
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 35px;

		@media screen and (min-width: 768px) {
			font-size: 70px;
		}
	}

	&__description {
		line-height: 1.3;
	}

	&__button {
		margin-top: 50px;
	}
}
