:root {
	--navy: #0a192f;
	--lightest-navy: #233554;
	--light-navy: #112240;
	--lightest-slate: #ccd6f6;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--green: #64ffda;
	--lightest-green: #64ffda1a;
	--font-mono: 'Fira Code', monospace;
	--font-sans: 'Inter', sans-serif;
}
